*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body{
        background-color: #dfd9d9;
        font-family: 'Arial', sans-serif;
    }
.header
{
    height: 700px;
    width: 100%;
    background-image: linear-gradient(rgba(77, 106, 118, 0.3), rgba(2, 5, 30, 0.5)), url("cta-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative ;
          }
nav
{
    padding: 0% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
          } 

.nav-link
{
    flex: 2;
    text-align: center; 
    margin-left: 120px;
    margin-top: 28px;
}
     
.nav-link ul li
{
    list-style: none;
    display: inline-block;
    padding: 6px 20px;
    position: relative;
    padding-right: 20px;
   
} 
    
.nav-link ul li a
{
color: rgb(251, 249, 249);
text-decoration: none;
}
.nav-link ul li ::after
      {
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        margin: auto;
        transition: 0.5s;
      }
      .nav-link ul li div ::after
      {
        content: '';
        width: 0%;
        height: 2px;
        background: none;
        display: block;
        margin: auto;
        transition: 0.5s;
      }

nav .fa
{
  display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #999494;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
  
.dropdown-content a {
    
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }  

.text-box
{
width: 100%;
color: aliceblue;
position: absolute;
top: 55%;
text-align: center;
}
  
.top h2{
    text-align: left;
    color: aliceblue;
    position:absolute;
    top: 18px;
    left: 6%;
    font-size: 30px;
    
 } 
.text-box h1
{
font-size:64px;
}
  
.text-box p
{
font-size: 23px;
margin: 10px 0 20px;
color: aliceblue;
padding-bottom: 0px;
}

.text-box .button1
{
    width: 20%;
    height: auto;
    position: absolute;
    display: inline-block;
    background-color: #989191;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 14px 26px;
    border: none;
    cursor: pointer;
    border-radius: 19px;
    text-align: center;
    top: -70px;
    left: 40%;
}

.button2
{
    width: 17%;
    height: auto;
    position: absolute;
    display: inline-block;
    background-color: #727070;
    color: white;
    font-size: 16px;
    margin-left: -80px;
    margin-bottom: 19px;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 25px;
    text-align: center;
  left: 48%;
}

/* services */

.button3
{   
    background-color: #ed82a6;
    color: rgb(243, 50, 204);
    font-size: 20px;
    margin: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    width:  150px;
    margin-top: 7rem;
}
.service
    {
      width: 80%;
      margin: auto;
      text-align: center;
      padding-top: 10px;
    }
.service h1
    {
      font-size: 40px;
      color: #111111;
      margin-bottom: 25px;      
    }
.service p{
    font-size: 18px;
}
.rrow
    {
      display: flex;
      justify-content: space-between;
      margin: 2%;
    }

.req-col
    {
      flex-basis: 33%;
      background: #fff;
      padding: 3%;
      box-sizing: border-box;
      transition: 1s;
      display: block;
      position: relative;
      height: auto;
      width: 200px;
      margin: 15px;
    } 

    .req-col i{
        font-size: 30px;
        color: rgb(243, 124, 144);
    }
    
    .req-col h2
    {
      font-size: 21px;
      margin-bottom: 2px
    }

    .req-col:hover
    {
      top: -20px;
      box-shadow: 0 50px 60px -10px rgba(0,0,0,.2);
    }

    .req-col p
    {
      font-size: 17px;
      text-align: center;
    }


/* portfolio */
.button4
{   
    background-color: #948c8f;
    color: rgb(5, 4, 5);
    font-size: 15px;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    width:  100px;
    margin-top: 1rem;
    margin-left: 5px;
}

.button4:hover
{
    background-color: #e76997;
    color: aliceblue;
 
}

.wrow
      {
        width: 50%;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: -5%;

      }
      .portfolio
      {
        width: 100%;
        margin: 2px;
        text-align: center;
        padding-top: 15px;

      }

      .portfolio-col
      {
        flex-basis: 31%;
        margin-bottom: 5%;
        text-align: left;

      }
      .portfolio-col img
      {
        width: 100%;
        margin-top: 3px;
        margin-bottom: -35px;
      }

    .team
      {
        width: 90%;
        margin: auto;
        text-align: center;
        padding-top: 10px;

      }
      .team-col
      {
        flex-basis: 24%;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: left;
        margin-left: 2px;

      }
      .team-col img
      {
        
        width: 100%;
        border-radius: 10px;
        margin-top: 60px;
      }

      .team-col p{
        padding: 0;
        font-size: 17px;
        text-align: center;
        margin-bottom: 20px;
    
      }
      .team-col h1{
        font-size: 20px;
        margin-bottom: 15px;
        text-align: center;
        
      }

      /* contact us */
      .contact{
        padding-top: 7rem;
      }
      .contact img{
        height: 350px;
        width: 150%;
        background-size: cover;
        position: relative ;
        margin: -30%;
        
      }
      .row
    {
      margin-top: 43%;
      display: flex;
      justify-content: space-between;
      
    } 
    .contact-col
      {
        text-align: left;
        flex-basis: 48%;
        margin-bottom: 30px;
      }

    .contact-col div
      {
        display: flex;
        align-items: left;
        margin-bottom: 40px;
        margin-left: -50px;
      } 
     
    .contact-col div .fa
      {
        font-size: 30px;
        color: #cb72b9;
        margin-left: -9rem;
       border: none;
       border-radius: 50%;
       width: 35px;
       height: 35px;
       background-color: #f0aee3;
        margin-right: 25px;
        
      }

    .contact-col div p
      {
        padding: 0;
        color: #555;
      }  

    .contact-col div h5
      {
        font-size: 20px;
        margin-bottom: 5px;
       
        font-weight: 400;

      }

      .form {
      
        padding: 20px;
        width: 40%;
        margin: 10px;
        margin-left: 30rem;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        
      }
      
      form {
        margin-top: -90%;
        display: flex;
        flex-direction: column;
      }
      
      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
      }
      
      button {
        margin-left: 9rem;
        width: 9rem;
        height: 3rem;
        background-color: #d00a0a;
        padding: 10px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
       
      }
     
      @media(max-width: 700px)
      {
      
        .header {
          height: 500px;
       
      }
      .text-box{
        top: 65%;
      }
      
      .text-box h1
      {
      font-size: 25px;
      margin-top: -130px;
      }
      .text-box .button1
      {
          width: 70%;
          height: auto;
          left: 45px;
          top: -200px;
      }
      .text-box .button2{
        width: 50%;
      }
      .nav-link{
        margin-top: -1px;
        position: fixed;
        background:rgb(241, 243, 243) ;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1;
        transition: 0.5s;
      }
      
      .nav-link ul
      { 
        padding: 20px;
      
      }   
      .nav-link ul li
          {
            display: block;
        
          }
      .nav-link ul li a
          {
            color: rgb(206, 116, 188);
        
          }
      
      .nav-link li::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #c2bbbb;
            margin-top: 5px; 
          }
      .dropdown-content
      {
        background-color: #fbf9f9;
      }
      
      
      nav .fa 
          {
            display: block;
            color: rgb(160, 156, 156);
            margin: 10px;
            cursor: pointer;
            font-size: 22px;
          }  
          
          .button3, .button4 {
            width: 50%;
            margin-top: 1rem;
        } 
    
    .service {
            width: 100%;
            margin-top: 45px;
            margin-bottom: 25px;
        }
    .service h1
        {
          font-size: 33px;      
        }

      .rrow {
        flex-direction: column;
        align-items: center;
    }
    
    .req-col {
      
        flex-basis: 100%;
        margin: 9px;
    }
    
    .req-col h2 {
      font-size: 21px;
    }
    
    .req-col p{
      font-size: 17px;
      text-align: left;
    }

    
    .wrow, .portfolio
    {
      width: 78%;
      margin-left: 21px;
      padding: 15px;
      
    }
    
    .portfolio-col
    {
      flex-basis: 100%;
    }
    
    .portfolio-col img
    {margin-bottom: 10px;
      width: 100%;
      margin-top: 10px;
    }
    .team
    {
      width: 85%;
      margin-left: 10px;
      padding: 20px;
    }
    
    .team-col
    {
      flex-basis: 100%;
    }
    
    .team-col img 
    {
      width: 100%;
      margin-top: 10px;
    }

    .contact, .form 
{
    width: 100%;
   margin-left: 0;
    padding: 20px;
}

.contact-col 
{
  flex-basis: 100%;
}

.contact img 
{
 margin: 0;
 height: 200px;
 width: 100%;
 margin-left: -30px;
 margin-right: 20px;
 background-size: cover;
}

.row 
{ margin-top: 30px;
  flex-direction: column;
  align-items: left;
}

.contact-col div 
{
   margin-left: 0;
  
}

.contact-col div .fa 
{
  margin-left: 0;
  margin-right: 0;
}

.form 
{
  width: 90%;
  margin-left: -5px;
  margin-top: -50px;
}

form 
{
  margin-top: 0;
}

button 
{
  margin-left: 65px;
  width: 50%;
}
      
      }